{% extends 'GastroSettingBundle::layout.html.twig' %}

{% block page_content %}
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div id="defaultPortlet" class="panel-collapse in" style="height: auto;">
                <div class="portlet-body">

                    <ul id="userTab" class="nav nav-tabs">
                        {#<li class="active"><a href="#overview" data-toggle="tab">Paramètres</a>#}
                        {#</li>#}
                        <li class="active"><a href="#profile-settings" data-toggle="tab">Mon profil</a>
                        </li>
                    </ul>

                    <div class="tab-pane fade in active" id="profile-settings">
                        <div class="row">

                            <div class="col-sm-4">
                                <ul id="userSettings" class="nav nav-pills nav-stacked">
                                    <li class="active">
                                        <a href="#changePassword" data-toggle="tab"><i class="fa fa-lock fa-fw"></i>Changer de mot de passe</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-8">
                                <div id="userSettingsContent" class="tab-content">
                                        {% render url('gastro_user_change_pass') %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}