{% extends ':WebApp:base.html.twig' %}

{% block page_content_header %}
    {{ 'parameter.title'|trans }}
    <small></small>
{% endblock %}

{% block page_content_breadcrumb %}
    <li><a href="{{ path('gastro_dashboard') }}"><i class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</a></li>
    <li class="active"><i class="fa fa-cog "></i> {{ 'parameter.title'|trans }}</li></a>
{% endblock %}