<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% include ':WebApp:header.html.twig' %}
</head>
<body>

{% block body %}
    <div id="wrapper"><!-- Wrapper -->

        <div id="sidebar-wrapper"><!-- Sidebar -->
            <ul class="sidebar-nav">
                {% block sidebar %}
                    {% include ':WebApp:sidebar.html.twig' %}
                {% endblock %}
            </ul>
        </div>
        <!-- End Sidebar -->

        <div id="page-content-wrapper"><!-- Page-content_wrapper -->
            <div class="content-header"><!-- Page content header -->
                <h1>
                    <button id="menu-toggle" href="#" class="btn"><i class="fa fa-bars"></i></button>
                    {% block page_content_header %}
                        Simple Sidebar
                    {% endblock %}
                </h1>
            </div>

            <div class="container-fluid">
                <div class="row-fluid">
                    <ol class="breadcrumb">
                        {% block page_content_breadcrumb %}
                            <li class="active"><i class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</li>
                        {% endblock %}
                    </ol>
                </div>
            </div>


            <div class="page-content"><!-- Page content -->
                {% include 'UtilsNotifyMessengerBundle::flash.html.twig' %}

                <div class="container-fluid">
                    <div class="col-lg-12">
                        {% block page_widgets %}
                            {% if widgets is defined %}
                                <div class="row">
                                    {% for widget in widgets %}
                                        {{ render(controller("WidgetBundle:Widget:generate",
                                        {'link': widget.link,
                                        'name' : widget.name,
                                        'value' : widget.value,
                                        'color' : widget.color,
                                        'textcolor' : widget.textcolor,
                                        'icon' : widget.icon,
                                        'footerText' : widget.footerText} )) }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>

                <div class="container-fluid">
                    {% block page_content %}
                    {% endblock %}
                </div>
            </div>

        </div>
        <!-- End Page-content_wrapper -->

    </div><!-- End Wrapper -->
{% endblock %}
<footer>
    {% include ':WebApp:footer.html.twig' %}
</footer>
</body>
</html>