{% extends ':WebApp:base.html.twig' %}

{% block page_content_header %}
    {{ 'recipebook.title'|trans }}
    <small></small>
{% endblock %}

{% block page_content_breadcrumb %}
    <li><a href="{{ path('rocketchef_dashboard') }}"><i class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</a></li>
    <li class="active"><i class="fa fa-book "></i> {{ 'recipebook.title'|trans }}</li>
{% endblock %}