{% if translation_domain is not defined %}
    {% set translation_domain = null %}
{% endif %}
{% if close is not defined %}
    {% set close = false %}
{% endif %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-warning">
        {% if close %}<button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
        {{ flashMessage|trans({}, translation_domain) }}
    </div>
{% endfor %}