{% for flashMessage in app.session.flashbag.get('success') %}
    <div id="messenger" class="messenger-success" data-message="{{ flashMessage }}">
        afd
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div id="messenger" class="messenger-info" data-message="{{ flashMessage }}">
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div id="messenger" class="messenger-error" data-message="{{ flashMessage }}">
    </div>
{% endfor %}

<script type="text/javascript">
    $(document).ready(function(){
    Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-top messenger-on-right',
            theme: 'flat'
        };
        var selector = $('div');
        selector.find('.messenger-success').each( function () {
            Messenger().post({
                message: this.dataset.message,
                type: 'success'
            });
        });
    });
</script>