body {
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:400;
}

#wrapper #content-header h1 {
    font-size:26px;
    margin:0 0 15px;
}

#wrapper {
	padding-left: 250px;
	transition: all 0.4s ease 0s;

}

#sidebar-wrapper {
	margin-left: -250px;
	left: 250px;
	width: 250px;
	background: #34495E;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

#sidebar-wrapper ul.sidebar-nav {
	border-bottom: 1px solid #54677A;
}

#page-content-wrapper {
	width: 100%;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 10px;
	border-bottom: 1px solid #142638;
	border-top: 1px solid #54677A;
}

.sidebar-nav li a {
	color: #fff;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
	outline: medium none;
}

.sidebar-nav  li i.fa {
    padding-right:10px;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
	text-indent: 0;
	text-align: center;
}

.sidebar-nav > .sidebar-brand a {
	color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
	background: none;
}

.sidebar-nav .side-nav li i.fa {
	padding-right: 10px;
}

.content-header {
	height: 65px;
	line-height: 65px;
}

.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 65px;
	display: inline-block;
}

#menu-toggle {
	display: none;
}

.inset {

	padding: 30px;
}

.btn-default,
.btn-dark-blue {
    border-color: #314559;
    color: #fff;
    background-color: #34495e;
}

.btn-default:hover,
.btn-dark-blue:hover,
.btn-default:focus,
.btn-dark-blue:focus,
.btn-default:active,
.btn-dark-blue:active,
.btn-default.active,
.btn-dark-blue.active,
.open .dropdown-toggle.btn-default,
.open .dropdown-toggle.btn-dark-blue {
    border-color: #2c3e50;
    color: #fff;
    background-color: #2f4254;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active,
.btn-dark-blue.disabled,
.btn-dark-blue[disabled],
fieldset[disabled] .btn-dark-blue,
.btn-dark-blue.disabled:hover,
.btn-dark-blue[disabled]:hover,
fieldset[disabled] .btn-dark-blue:hover,
.btn-dark-blue.disabled:focus,
.btn-dark-blue[disabled]:focus,
fieldset[disabled] .btn-dark-blue:focus,
.btn-dark-blue.disabled:active,
.btn-dark-blue[disabled]:active,
fieldset[disabled] .btn-dark-blue:active,
.btn-dark-blue.disabled.active,
.btn-dark-blue[disabled].active,
fieldset[disabled] .btn-dark-blue.active {
    border-color: #495c6e;
    background-color: #526476;
}

@media (max-width:767px) {

	#wrapper {
		padding-left: 0;
	}

	#sidebar-wrapper {
		left: 0;
	}

	#wrapper.active {
		position: relative;
		left: 250px;
	}

	#wrapper.active #sidebar-wrapper {
		left: 250px;
		width: 250px;
		transition: all 0.4s ease 0s;
	}

	#menu-toggle {
		display: inline-block;
	}

	.inset {
		padding: 15px;
	}
}