{% extends '::base.html.twig' %}

{% block page_content_header %}
    Recipe Book
{% endblock %}

    {% block page_content %}
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Recette</td>
            </tr>
            </thead>
            <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>
                        {{ recipe.name }}
                    </td>
                    <td>
                        Edit
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
